body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

header, nav, section, footer {
	font-family: myFont;
	src:url("Valorant Font.ttf");
	margin: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    text-align: center;
}
